.Search-Results-show-img {
  width: 24px!important;
  height: 24px!important;
  margin-right: 15px;
}
.Search-Form-input {
  padding-left: 5px!important;
  padding-right: 10px!important;
}

.Search-Results-thumbnail {
  width: 210px;
  height: 295px;
}

.Search-Results-show-box {
  min-height: 400px!important;
  height: 400px!important;
  margin: 2px!important;
}

.Search-Results-result-box {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
}

.card-small {
  width: 210px;
  padding: 10px;
  border: 1px solid darkgray;
}

.Search-Controls-menu-item {
  text-transform: capitalize;
}

.disabled {
  pointer-events: none;
}

DebounceInput {
  width: 100%;
}